@model InvCore360_App.Model.Models.Categoria

@{
    ViewData["Title"] = "Editar Categoria";
}

<h1>Editar Categoria</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoriaID" />
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="Activo" class="form-check-input" />
        <label asp-for="Activo" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}