@model InvCore360_App.Model.Models.DetalleVenta

@{
    ViewData["Title"] = "Agregar Detalle Venta";
}

<h1>Agregar Detalle</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="VentaID"></label>
        <select asp-for="VentaID" class="form-control" asp-items="ViewBag.Ventas"></select>
    </div>
    <div class="form-group">
        <label asp-for="ProductoID"></label>
        <select asp-for="ProductoID" class="form-control" asp-items="ViewBag.Productos"></select>
    </div>
    <div class="form-group">
        <label asp-for="Cantidad"></label>
        <input asp-for="Cantidad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PrecioUnitario"></label>
        <input asp-for="PrecioUnitario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descuento"></label>
        <input asp-for="Descuento" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}