@model InvCore360_App.Model.Models.Venta

@{
    ViewData["Title"] = "Eliminar Venta";
}

<h1>Eliminar Venta</h1>

<h3>¿Está seguro que desea eliminar esta venta?</h3>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Numero</dt>
        <dd class = "col-sm-10">@Model.NumeroVenta</dd>

        <dt class = "col-sm-2">Total</dt>
        <dd class = "col-sm-10">@Model.Total.ToString("C")</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="VentaID" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>